[Desktop Entry]
Name=Application menu
Comment=KRunner application menu plugin
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=planetkde
X-KDE-PluginInfo-Author=Artur Gaspar
X-KDE-PluginInfo-Email=artur.gaspar.00@gmail.com
X-KDE-PluginInfo-Name=krunner_appmenu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.krunner_appmenu
X-Plasma-DBusRunner-Path=/krunner_appmenu
